<p>products works!</p>
<br><br>

<div class="nabar">
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="" routerLink="mobile" class="btn btn-primary">Buy Mobile</a>
    </div>
  </div>


  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="" routerLink="laptop" class="btn btn-primary">Buy Laptop</a>
    </div>
  </div>

  <div class="">
    <router-outlet></router-outlet>
  </div>
  
  
</div>
  