<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="one">
    <div class="two">Try it free 7 days then $20/mo. thereafter</div>
    <div class="three">
        <form [formGroup]="myReactiveForm"(ngSubmit)="onSubmit()">
            <label for="fname">First Name</label>
            <input type="text" id="fname" formControlName="fname">
            <br>
            <label for="lname">Last Name</label>
            <input type="text" id="lname" formControlName="lname">
            <br>
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="ename">
            <br>
            <small *ngIf="!myReactiveForm.get('email').valid">Please enter the valid email</small>
            <br>


            <button type="submit">Submit</button>
        </form>
    </div>
    </div>
</body>
</html>
